<% include ../partials/header.html %>

<div class="row">
	<div class="col-md-4">
		<% if (message !== null && message.length > 0) { %>
			<div class="<%= css %>"><%= message %></div>
		<% } %>
		
		<form method="post" action="/">
			<div class="form-group">
				<label for="username">Username</label>
    			<input type="text" class="form-control" id="username" name="username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
    			<input type="password" class="form-control" id="password" name="password">
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="/register" class="btn btn-default">Register</a>
		</form>
	</div>
</div>

<% include ../partials/footer.html %>