<% include ../partials/header.html %>

<div class="row">
	<div class="col-md-4">
		<% if (message !== null && message.length > 0) { %>
			<div class="bg-danger"><%= message %></div>
		<% } %>
			
		<form method="post" action="/register">
			<div class="form-group">
				<label for="username">Username</label>
    			<input type="text" class="form-control" id="username" name="username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
    			<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="form-group">
				<label for="confirmation">Confirm Password</label>
    			<input type="password" class="form-control" id="confirmation" name="confirmation">
			</div>
			
			<button type="submit" class="btn btn-primary">Create Account</button><br>
		</form>
	</div>
</div>

<% include ../partials/footer.html %>